<section class="hero">

    <div class="left">

        <div class="tag">
            📓 MY ENGINEERING NOTEBOOK
        </div>

        <h1>
            My PLTW <br />
            Journey
        </h1>

        <p>
            From learning Fusion 360 for the first time, 
            to competing in engineering competitions,
            to discovering that failure is just part of the design process...
            
            Here's my PLTW story.
        </p>

        <a href="#about" class="button">
            Explore →
        </a>

    </div>

    <div class="right">

        <div class="collage">

            <div class="photo tall">
                <img src="/images/about/me.jpg" alt="Harshita">
            </div>

            <div class="photo">
                <img src="/images/about/robot.jpg" alt="Robot">
            </div>

            <div class="photo">
                <img src="/images/about/team.jpg" alt="Team">
            </div>

            <div class="photo wide">
                <img src="/images/about/cad.jpg" alt="CAD">
            </div>

        </div>

    </div>

</section>